/* CUSTOM WORDPRESS ADMIN OVERRIDES */

/* --------------------------------------------------------------
VARIABLES
-------------------------------------------------------------- */

@blue: #0154B6;
@gray: #b7a9a9;
@lightgray: #a5a5a5;
@black: #000000;
@white: #FFFFFF;

/* --------------------------------------------------------------
CUSTOM LOGIN OVERRIDE
-------------------------------------------------------------- */

#login {
    width: 420px;
    padding: 7% 0 0;
}

.login {
    background-color: #8a8a8a !important;

    & h1 {
        background-image: url(../images/logo.png) !important;
        background-repeat: no-repeat;
        height: 150px;
        background-position: center center !important;
        background-size: contain !important;
        margin-bottom: 20px;
    }

    & a {
        background-image: none !important;
    }

    & form {
        -webkit-border-radius: 0;
        border-radius: 0;
        padding: 25px;
        background-color: #001758;
        box-shadow: none;
    }

    & input[type="text"] {
        color: @black;
        background-color: @white;
        border-color: #dddddd;
        -webkit-border-radius: 4px;
        padding: 10px 20px;
    }

    & input[type="password"] {
        color: @black;
        background-color: @white;
        border-color: #dddddd;
        -webkit-border-radius: 4px;
        padding: 10px 20px;
    }

    & .button-primary {
        float: right;
        background-color: #388b99 !important;
        color: #ffffff;
        border: 0;
        box-shadow: none;
        border-radius: 0;
        width: 120px;
    }

    & .button-primary:hover {
        background-color: #073e55 !important;
    }

    & .button-primary:active {
        background-color: #073e55 !important;
    }

    & label {
        color: @white;
        font-weight: 400;
        font-size: 15px;
        letter-spacing: -0.5px;
        line-height: 25px;
        margin-bottom: 10px;
        display: block;
        width: 100%;
    }

    & #backtoblog a,
    & #nav a {
        text-decoration: none;
        color: #eafffb;
        font-weight: 400;
        font-size: 16px;
        line-height: 10px;
    }
}

.wp-admin {
    & .postbox {
        & .hndle {
            background-color: @blue;
            color: @white;
        }

        & .toggle-indicator {
            color: @white;
        }
    }

    & .custom-metabox-headline {
        background: @blue;
        padding: 5px 15px;

        & h2 {
            color: @white;
        }
    }

    & #footer-thankyou a {
        color: @blue;
        font-weight: 500;
        text-decoration: none;

        &:hover {
            color: @blue;
        }
    }
}

.toplevel_page_orionmusichub_custom_options {
    & .custom-clearfix {
        clear: both;
        float: none;
    }

    & #wpcontent {
        padding-left: 0;

        & .orionmusichub_custom_options-header {
            background: #808080;
            border-bottom: 1px solid black;
            padding: 20px;

            & .logo-header {
                max-height: 90px;
                float: right;
            }

            & h1 {
                float: left;
                margin-top: 2.5%;
                color: @white;
            }
        }

        & .orionmusichub_custom_options-content {
            padding: 5px 20px;
        }
    }
}
