.mailchimp-form {
    color: currentColor;
}

.custom-form-control-container {
    display: flex;
    max-width: 80%;
    margin: 0 auto;

    & input {
        background: #eeeeee;
        padding: .9rem;
        margin: .2rem;
        border: 0;
        font-size: 1.3rem;
    }
}

.custom-mailchimp-form-widget {
    flex-flow: column;
    max-width: 100% !important;

    & input {
        background: #eeeeee;
        padding: .5rem .9rem;
        margin: .3rem 0;
        border: 0;
        font-size: 1rem;
    }
}



.custom-mailchimp-form-content {
    margin-top: 1rem;
    font-size: .95rem;
    line-height: 1.5rem;
}

.custom-mailchimp-widget-form-content {
    margin-top: 1rem;
    font-size: .8rem;
    line-height: 1rem;
}

.custom-mailchimp-form-checkbox {
    text-align: center;
    font-size: .9rem;


    & input {
        vertical-align: middle;
        width: auto;
        display: inline-block;
        margin-right: 10px;
    }

    & a {
        color: #021651;
        font-weight: 600;

        &:hover {
            color: #67efd7;
        }
    }
}

.btn-submit {
    background: none transparent;
    color: #021651;
    padding: 12px 30px;
    font-weight: 700;
    text-transform: uppercase;
    border: 3px solid #67efd7;
    border-radius: 10px;
    display: block;
    margin: 2rem auto;
    font-size: 1.3rem;

    &:hover {
        background: #021651;
        color: white;
    }
}

.btn-submit-widget {
    border: 3px solid #021651 !important;
}

.form-response-wrapper {
    max-width: 70%;
    border: 1px solid #021651;
    color: #021651;
    text-transform: uppercase;
    margin: 0 auto;
    text-align: center;
    padding: .3rem;
    font-weight: 900;
    font-size: .9rem;
}

.slider-clientes {
    & .item {
        min-height: 282px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
