/* --------------------------------------------------------------
/* MAIN LESS MIXINS AND FUNCTIONS - LESSHAT
-------------------------------------------------------------- */

@import 'less/lesshat.less';
/* --------------------------------------------------------------
/* WordPress Core
-------------------------------------------------------------- */

@import 'less/wordpress-core.less';
/* --------------------------------------------------------------
/* Shortcodes Ultimate Custom - ACTIVATE ONLY IF USED
-------------------------------------------------------------- */

//@import 'less/shortcodes-ultimate-custom.less';
/* --------------------------------------------------------------
Variables
-------------------------------------------------------------- */

/* Pixels */

@1: 1px;
@2: 2px;
@3: 3px;
@4: 4px;
@5: 5px;
@10: (@5 + @5);
@15: (@10 + @5);
@20: (@10 + @10);
@25: (@20 + @5);
@30: (@15 + @15);
/* Colors */

@black: #000000;
@softgray: #EEEEEE;
@darkgray: #505050;
@white: #ffffff;
@blue: #021651;
@green: #67EFD7;
@orange: #FFB12A;

/* Theme commons
-------------------------------------------------------------- */

.loading:empty {
    background: url('../images/common/loading.gif') no-repeat center center;
    min-height: 32px;
    min-width: 32px;
}

@import 'less/layouts.less';

/* --------------------------------------------------------------
Body default
-------------------------------------------------------------- */

html,
body {
    height: 100%;
}

body {
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}

a {
    .transition(all .2s ease-in-out);

    &:hover {
        text-decoration: none;
    }
}

#loader {
    display: block;
    clear: both;
    position: relative;
    width: 44px;
    height: 8px;
    margin: 12px auto;
    margin-bottom: 9%;
}

.vc_row.vc_row-o-full-height {
    max-width: 100%;
}

.dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background: @green;
    position: absolute;
}

.dot_1 {
    animation: animateDot1 1.5s linear infinite;
    left: 12px;
    background: @blue;
}

.dot_2 {
    animation: animateDot2 1.5s linear infinite;
    animation-delay: 0.5s;
    left: 24px;
}

.dot_3 {
    animation: animateDot3 1.5s linear infinite;
    left: 12px;
}

.dot_4 {
    animation: animateDot4 1.5s linear infinite;
    animation-delay: 0.5s;
    left: 24px;
}

@keyframes animateDot1 {
    0% {
        transform: rotate(0deg) translateX(-12px);
    }

    25% {
        transform: rotate(180deg) translateX(-12px);
    }

    75% {
        transform: rotate(180deg) translateX(-12px);
    }

    100% {
        transform: rotate(360deg) translateX(-12px);
    }
}

@keyframes animateDot2 {
    0% {
        transform: rotate(0deg) translateX(-12px);
    }

    25% {
        transform: rotate(-180deg) translateX(-12px);
    }

    75% {
        transform: rotate(-180deg) translateX(-12px);
    }

    100% {
        transform: rotate(-360deg) translateX(-12px);
    }
}

@keyframes animateDot3 {
    0% {
        transform: rotate(0deg) translateX(12px);
    }

    25% {
        transform: rotate(180deg) translateX(12px);
    }

    75% {
        transform: rotate(180deg) translateX(12px);
    }

    100% {
        transform: rotate(360deg) translateX(12px);
    }
}

@keyframes animateDot4 {
    0% {
        transform: rotate(0deg) translateX(12px);
    }

    25% {
        transform: rotate(-180deg) translateX(12px);
    }

    75% {
        transform: rotate(-180deg) translateX(12px);
    }

    100% {
        transform: rotate(-360deg) translateX(12px);
    }
}


/* --------------------------------------------------------------
1.- HEADER
-------------------------------------------------------------- */

.the-header {
    background: @white;
}

.the-navbar {
    & .navbar {
        background-color: transparent !important;

        & .navbar-nav {
            & .nav-link {
                font-weight: 900;
                text-transform: uppercase;
                font-size: 1.5rem;
                padding: 0 30px;
                color: @darkgray;
            }

            & .active {
                & a {
                    color: @blue;
                }
            }
        }
    }

    & .lang-nav {
        & li {
            & a {
                font-weight: 900;
                text-transform: uppercase;
                font-size: 1.5rem;
                padding: 0 15px;
                color: @darkgray;
            }
        }
    }
}

.img-logo {
    max-height: 125px;
}

.floating-nav {
    position: fixed;
    top: 0;
    right: 0;
    bottom: auto;
    left: 0;
    padding: 0;
    z-index: 3;
    .transform(translate3d(0, 0, 0));
    .transition(all .2s ease-in-out);

    & .img-logo {
        max-height: 90px;
    }
}

.floating-nav__inner {
    height: auto;
    width: 100%;
    padding: 0 0;
    background: #fff;
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);

    & .the-header {
        padding-top: 10px;
    }

    & .the-navbar {
        margin-top: 10px;
    }
}

.floating-nav.is-hidden {
    .transform(translate3d(0, -210px, 0));
}

/* --------------------------------------------------------------
2.- HOME
-------------------------------------------------------------- */

.page-inicio {
    font-size: 1.3rem;
    line-height: 2.3rem;
}

.vc_separator {
    position: relative;
    padding-top: 15px;

    &:after {
        background: #EBEBEB;
        content: ' ';
        width: 20px;
        height: 20px;
        border-radius: 100%;
        position: absolute;
        top: 8px;
        left: 49.5%;
    }
}

.custom-blog-item {
    position: relative;
    margin-bottom: 100px;
    font-size: 1.2rem;
    line-height: 2.2rem;

    &:before {
        position: absolute;
        background: #EFEFEF;
        z-index: -1;
        content: ' ';
        width: 125%;
        height: 75%;
        top: 29%;
        right: -35px;
    }

    & picture {
        & img {
            margin-bottom: 30px;
        }
    }

    & header {
        & h2 {
            color: @darkgray;
            font-weight: 700;
            line-height: 2.4rem;
            font-size: 1.6rem;
            margin-bottom: 15px;
        }
    }

    & .btn-blog {
        background: @green;
        color: @blue;
        margin-top: 15px;
        padding: 12px 30px;
        font-size: 1.6rem;
        text-transform: uppercase;
        font-weight: 900;
    }
}

.odd {
    &:before {
        display: none;
    }
}

.even {
    & .btn-blog {
        background: none;
        border: 3px solid #67efd7;
    }
}

.home-about-content {
    font-size: 1.7rem;
    line-height: 2rem;

    & h2 {
        font-size: 2.8rem;
        font-weight: 900;
        margin-bottom: 20px;
    }

    & h3 {
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1rem;
        margin-bottom: 20px !important;
    }
}

.home-about-button {
    & .vc_btn3 {
        border: 2px solid @green  !important;
        color: @blue  !important;
        padding: 10px 20px !important;
        font-weight: 800 !important;
        font-size: 1.5rem !important;
    }
}

.invert-separator {
    position: relative;
    padding-top: 15px;
    display: inline-block;
    max-width: 100px;

    & .vc_sep_line {
        border-color: @green  !important;
    }

    &:before {
        background: @green;
        content: ' ';
        width: 20px;
        height: 20px;
        border-radius: 100%;
        position: absolute;
        top: 8px;
        left: -10px;
    }

    &:after {
        display: none;
    }

    & .vc_sep_holder_r {
        background: #67efd7;
        height: 20px !important;
        width: 20px !important;
        display: block !important;
        border-radius: 100%;
        border: 0 !important;
        position: absolute !important;
        right: -5px;
        top: 8px;

        & .vc_sep_line {
            display: none !important;
        }
    }
}

.home-subscribe-content {
    color: @white;
    overflow: visible !important;

    & .vc_inner {
        max-width: 100% !important;
        margin-right: auto !important;
        margin-left: auto !important;
    }

    & button {
        background: none transparent !important;
        border: 3px solid @green  !important;
        padding: 10px 25px !important;
        color: @white  !important;
        font-size: 1.7rem !important;
    }

    & input[type=submit] {
        color: @white  !important;
        padding: 18px 45px;
        font-size: 2rem;
    }
}

.separator-image {
    margin-top: -7%;
}

.about-main-title {
    padding: 0 29%;
    font-size: 1.9rem;
    line-height: 2.5rem;

    & h2 {
        font-size: 2.6rem;
        font-weight: 700;
        color: @blue;
        line-height: 3.2rem;
        margin-bottom: 20px;
    }
}

.about-second-text {
    padding: 0 15% !important;
    font-size: 1.3rem;
}

/* --------------------------------------------------------------
3.- FOOTER
-------------------------------------------------------------- */

.the-footer {
    & ul {
        padding-left: 0;
        list-style: none;
    }

    & .footer-logo {
        text-align: center;
        padding-bottom: 30px;

        & .img-footer {
            display: inline-block;
            max-width: 150px;
            margin: 30px 0;
        }
    }

    & a {
        color: @darkgray;

        &:hover {
            color: @green;
        }
    }
}

.footer-copy {
    border-top: 3px solid @softgray;
    position: relative;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-top: 20px;

    &:after {
        content: ' ';
        height: 20px;
        width: 20px;
        background: @softgray;
        position: absolute;
        top: -12px;
        border-radius: 100%;
        left: 49.5%;
    }

    & h6 {
        font-size: .8rem;
        font-weight: 500;
        color: @darkgray;
    }
}

.footer-item {
    padding-right: 10%;
    color: @darkgray;
    font-size: 1.3rem;

    & .widgettitle {
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 10px;
    }

    & .widget_text i {
        padding-right: 15px;
    }

    & ul {
        & li {
            font-weight: 400 !important;

            &:last-child {
                border-bottom: 0;
            }
        }
    }

    & h3 {
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 10px;
    }

    & .widget_text {
        & a {
            text-decoration: underline;
        }
    }
}

/* --------------------------------------------------------------
4.- BLOG
-------------------------------------------------------------- */

.blog-page-item {
    font-size: 1.1rem;
    line-height: 1.9rem;
    padding-bottom: 30px;

    & picture {
        position: relative;
        display: block;

        &:hover {
            & .picture-overlay {
                opacity: 1;
            }
        }
    }

    & .picture-overlay {
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, 0.38);
        opacity: 0;
        font-size: 2rem;
        .transition(all .2s ease-in-out);

        & a {
            color: @green;
            .transition(all .5s ease-in-out);

            &:hover {
                .transform(rotate(405deg));
            }
        }
    }

    & a {
        color: @darkgray;
    }

    & h2 {
        font-weight: 700;
        font-size: 1.2rem;
        line-height: 2rem;
        margin-top: 25px;
        margin-bottom: 25px;
        .transition(all .2s ease-in-out);

        &:hover {
            padding-left: 10px;
        }
    }

    & .btn-blog {
        border: 2px solid @green;
        color: @blue;
        text-transform: uppercase;
        font-size: 1.2rem;
        font-weight: 900;
        padding: 8px 20px;
        margin-bottom: 10px;

        &:hover {
            background: @green;
            color: @blue;
        }
    }
}

.ajax-pagination {
    text-align: center;
    font-size: 2.3rem;
    color: @green;
    margin-top: 10px;
    margin-bottom: 10px;

    & .fa {
        cursor: pointer;
        .transition(all .3s ease-in-out);

        &:hover {
            .transform(rotate(405deg));
        }
    }
}

.banner-page-container {
    background: url(../images/blog-bg.png);
    background-position: center -20vh;
    background-size: cover;
    min-height: 60vh;
    margin-bottom: 50px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: @white;
    position: relative;

    & h1 {
        color: currentColor;
        font-weight: 900;
        font-size: 2.5rem;
        letter-spacing: 2px;
        text-transform: uppercase;
        margin-bottom: 25px;
    }

    & .blog-desc-container {
        background: @green;
        padding: 5px 20px;
        text-align: center;
        color: @blue;
        font-size: 1.1rem;
        font-weight: 700;
        line-height: 2rem;
    }

    & .blog-separator-line {
        position: absolute;
        height: 70px;
        width: 5px;
        background: @green;
        bottom: 30px;
        left: 50%;

        &:before {
            content: ' ';
            position: absolute;
            top: -5px;
            left: -5px;
            border-radius: 100%;
            background: @green;
            height: 15px;
            width: 15px;
        }

        &:after {
            content: ' ';
            position: absolute;
            bottom: -5px;
            left: -5px;
            border-radius: 100%;
            background: @green;
            height: 15px;
            width: 15px;
        }
    }
}

.the-single {
    padding-top: 30px;

    & .date {
        font-weight: 900;
        text-transform: uppercase;
        font-style: italic;
        color: @darkgray;
    }

    & .author {
        font-weight: 900;
        font-style: italic;
        color: @darkgray;

        & a {
            color: @darkgray;
        }
    }

    & .img-single-featured {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    & h1 {
        font-weight: 700;
        font-size: 2.2rem;
        line-height: 3rem;
        margin-bottom: 20px;
        color: @blue;
    }

    & .post-content {
        & img {
            max-width: 100%;
            height: auto;
        }

        & iframe {
            max-width: 100%;
            height: auto;
            min-height: 45vh;
        }
    }

    & .single-comments {
        & h2 {
            font-weight: 700;
            text-align: center;
            text-transform: uppercase;
            margin-bottom: 30px;
            font-size: 2.2rem;
            letter-spacing: -.5px;
            color: @darkgray;
        }
    }

    & .single-share {
        margin-bottom: 40px;
        font-size: 3rem;
        text-align: center;

        & a {
            color: @darkgray;
            margin: 0 5px;

            &:hover {
                color: @green;
            }
        }
    }
}

.single-sidebar {
    list-style: none;
    padding-left: 0;
}

.widgettitle {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 15px;
}

.widget_recent_entries {
    & ul {
        list-style: none;
        padding-left: 0;

        & li {
            padding: 15px 0;
            border-bottom: 1px solid @softgray;
            font-weight: 700;

            & a {
                color: @darkgray;

                &:hover {
                    color: @green;
                }
            }
        }
    }
}

.separator-custom {
    position: relative;
    border-top: 7px solid @softgray;
    margin-bottom: 35px;

    &:after {
        content: ' ';
        position: absolute;
        height: 35px;
        width: 35px;
        top: -21.5px;
        left: 48%;
        border-radius: 100%;
        background: @softgray;
    }
}

.ebook-container {
    padding: 25px 30px;
    text-align: center;
    background: @green;
    color: @white;
    margin-bottom: 20px;
}

/* --------------------------------------------------------------
5.- PAGE
-------------------------------------------------------------- */

.page-container {
    min-height: 50vh;
}

.main-slider-container {
    position: relative;

    &:before {
        position: absolute;
        left: 0;
        width: 100%;
        content: ' ';
        bottom: 0;
        height: 50px;
        z-index: 20;
        border-top: 50px solid transparent;
        border-left: 50vw solid white;
    }

    &:after {
        position: absolute;
        right: 0;
        width: 100%;
        content: ' ';
        bottom: 0;
        height: 50px;
        z-index: 20;
        border-top: 50px solid transparent;
        border-right: 50vw solid white;
    }
}

.custom-select-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    & .wpcf7-list-item {
        width: 32%;
        margin: 0 1em 0 0;

        &::selection {
            background: transparent;
        }

        & input {
            opacity: 0;
            margin-left: -10px;
        }

        & label {
            background: @softgray;
            color: @blue;
            min-width: 100%;
            height: 85px;
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            text-transform: uppercase;
            font-weight: 600;
            font-size: .8rem !important;
            .transition(all .3s ease-in-out);
            cursor: pointer;

            &:hover {
                background: @green;
                .transition(all .3s ease-in-out);
            }

            &::selection {
                background: transparent;
            }
        }
    }

    & .selected {
        & label {
            background: @green  !important;
        }
    }
}

.custom-form-item {
    padding: 10px 15px;
}

.custom-form-control {
    background: @softgray;
    color: @blue;
    padding: 10px 15px;
    border: 0;
    .placeholder(@blue);
}

.wpcf7-acceptance {
    font-size: .9rem;
    line-height: 2rem;
}

.custom-form-item-last {
    text-align: center;

    & h6 {
        font-size: .9rem;
        line-height: 1.6rem;
        font-weight: 400;
    }
}

.custom-submit-button {
    margin-top: 20px;
    border: 3px solid @green;
    border-radius: 10px;
    background: none transparent;
    color: @blue;
    padding: 12px 25px;
    font-size: 1.2rem;
    font-weight: 900;
    text-transform: uppercase;
}

.custom-contact-button .vc_btn3 {
    min-height: 95px;
    font-weight: 600;
    font-size: .8rem !important;
    color: @blue  !important;

    &:hover {
        background: @green  !important;
    }
}

.wpcf7-mail-sent-ok {
    border: 2px solid #6ff1dc;
    color: #00155b;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    padding: 10px;
}

.home-sidebar {
    & ul {
        padding-left: 0;
        list-style: none;

        & li {
            background: @green;
            color: @blue;
            padding: 15px 25px;
            text-align: center;

            & h2 {
                font-size: 1.8rem;
                margin-bottom: 2rem;
                font-weight: 700;
                padding: 10px 15px;
            }
        }
    }
}

.the-sidebar {
    & ul {
        padding-left: 0;
        list-style: none;

        & li {
            background: @green;
            color: @blue;
            padding: 15px 25px;
            text-align: center;

            & h2 {
                font-size: 1.3rem;
                margin-bottom: 2rem;
                font-weight: 700;
                padding: 10px 15px;
            }
        }
    }
}

.page-te-ayudamos {
    & h2 {
        font-size: 2.6rem;
        color: @blue;
        margin-bottom: 10px;
    }

    & h4 {
        font-size: 1.5rem;
        font-weight: 400;
        margin-bottom: 0;
        margin-top: 10px;
    }

    & .wpcf7 h3 {
        font-size: 1.5rem;
        margin: 1.5rem 0;
    }
}

.page-inicio {
    & #mc-embedded-subscribe-form {
        text-align: center;
    }

    & .mc-field-group {
        display: inline-block;
        width: 40%;

        input {
            width: 100%;
            background: @softgray;
            border-radius: 5px;
            border: 0;
            padding: 10px 15px;
            .placeholder(@darkgray);
        }
    }

    & input[type=submit] {
        background: none transparent;
        color: @blue;
        padding: 8px 25px;
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 25px;
        border: 3px solid @green;
        border-radius: 10px;
    }
}

.navbar-light .navbar-toggler {
    border-color: transparent;
}

.rounded-button button {
    height: 120px;
    width: 120px;
    border-radius: 100% !important;
    background: #25b202 !important;
    text-transform: uppercase;
    font-weight: 600;


    &:hover {
        background: #1c9200 !important;
    }
}


.widget-custom-form-control-container {
    flex-flow: column;
    max-width: 100% !important;

    & input {
        padding: 0.7rem .9rem !important;
        margin: 0.3rem 0 !important;
        border: 0;
        font-size: 1rem !important;
    }

    & .form-check {
        padding: 0;
        text-align: left;
    }

    & .form-check-label {
        margin-bottom: 0;
        padding-left: 20px;
    }
}

.custom_mailchimp_form {
    padding: 0 25px !important;
    padding-bottom: 10px !important;

    & .btn-submit {
        background: none transparent;
        color: #021651;
        padding: 12px;
        font-weight: 700;
        text-transform: uppercase;
        border: 3px solid #021651;
        border-radius: 10px;
        display: block;
        margin: 2rem auto;
        font-size: 1.3rem;
        width: 100%;
    }
}
