/* --------------------------------------------------------------
MEDIAQUERIES LG/MD - LAYOUTS BIGGER THAN 992px
-------------------------------------------------------------- */

@media (max-width: 1920px) {}

@media (max-width: 1680px) {}

@media (max-width: 1600px) {}

@media (max-width: 1440px) {}

@media (max-width: 1366px) {
    .custom-blog-item:before {
        width: 120%;
    }
}

@media (max-width: 1280px) {
    .custom-blog-item:before {
        width: 110%;
    }
}

@media (max-width: 1170px) {
    .the-navbar .navbar .navbar-nav .nav-link {
        font-size: 1.3rem;
        padding: 0 25px;
    }
    .home-sidebar ul li h2 {
        font-size: 1.5rem;
    }
    .custom-blog-item .btn-blog {
        font-size: 1.4rem;
    }
    .home-about-content {
        font-size: 1.2rem;
        line-height: 1.8rem;
    }
    .home-about-content h2 {
        font-size: 1.8rem;
    }
    .home-about-content h3 {
        font-size: 1.7rem;
        line-height: 1.8rem;
    }
    .separator-image {
        margin-top: -11%;
    }
    .separator-image img {
        max-width: 15px;
    }
    .page-te-ayudamos h2 {
        font-size: 2rem;
    }
    .page-te-ayudamos h4 {
        font-size: 1.2rem;
    }
}

@media (max-width: 1024px) {}

@media (max-width: 992px) {
    .the-navbar .navbar .navbar-nav .nav-link {
        font-size: 1rem;
        padding: 0 20px;
    }
    .home-sidebar ul li h2 {
        font-size: 1.2rem;
        margin-bottom: 1rem;
        padding: 5px 5px;
    }
    .separator-image {
        margin-top: -14%;
    }
    .about-main-title {
        font-size: 1.5rem;
        line-height: 2rem;
    }
    .about-main-title h2 {
        font-size: 1.9rem;
        line-height: 2.5rem;
    }
}

/* --------------------------------------------------------------
MEDIAQUERIES SM - LAYOUTS BIGGER THAN 768px
-------------------------------------------------------------- */

@media (max-width: 991px) {}

@media (max-width: 800px) {
    .main-about-item-container .vc_col-sm-3 {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
        display: block;
        float: none;
    }
    .custom-select-container .wpcf7-list-item label {
        font-size: .7rem !important;
    }
    .page-te-ayudamos h2 {
        font-size: 1.5rem;
    }
    .the-single h1 {
        font-size: 2rem;
        line-height: 2.2rem;
    }
    .the-single .date {
        font-size: .8rem;
    }
    .the-single .author {
        font-size: .8rem;
    }
}

@media (max-width: 768px) {
    .page-inicio .mc-field-group {
        width: 100%;
        margin-bottom: 15px;
    }
    .custom-blog-item:before {
        display: none;
    }
    .separator-image {
        display: none;
    }
    .about-main-title {
        padding: 0 10%;
    }
}

/* --------------------------------------------------------------
MEDIAQUERIES XS - LAYOUTS LESS THAN 768px
-------------------------------------------------------------- */

@media (max-width: 600px) {
    .page-te-ayudamos .img-girls {
        display: none;
    }
    .page-inicio {
        font-size: 1rem;
        line-height: 2rem;
    }
    .about-main-title {
        padding: 0 5%;
    }
    .about-second-text {
        padding: 0 5% !important;
        font-size: 1rem;
    }
    .footer-item {
        font-size: 1rem;
    }
    .footer-item h3 {
        font-size: 1rem;
    }
    .custom-form-item {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .blog-page-item {
        font-size: 1rem;
        line-height: 1.8rem;
        padding-bottom: 30px;
    }
    .blog-page-item h2 {
        font-size: 1rem;
        line-height: 1.8rem;
        margin-top: 15px;
        margin-bottom: 5px;
    }
    .blog-page-item .btn-blog {
        font-size: 1rem;
        display: block;
    }
}

@media (max-width: 533px) {}

@media (max-width: 414px) {}

@media (max-width: 375px) {
    .about-main-title {
        padding: 0 5px;
    }
    .about-second-text {
        padding: 0 5px !important;
    }
}

@media (max-width: 360px) {}

@media (max-width: 320px) {}

@media (max-width: 240px) {}
